<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-escale=1.0" />
    <title>Noticias</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="equipo.html">Equipo</a></li>
                <li><a href="noticias.html">Noticias</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="noticias">
            <h1>Últimas Noticias</h1>
            <div class="noticia">
                <div class="contenido">
                    <h2>¿El RB20 podra seguir dominando?</h2>

                    <img src="../images/imagen4.jpg" alt="redbull" height="350" width="550" />

                    <p>
                        Durante la temporada 2023 el <b><u>RB19</u></b>demostro ser el mejor auto de toda la parrilla logrando ganar 21 de las 22
                        carreras pero ¿podra el actual <b><u>RB20</u></b> ser tan dominate como su antecesor? esto y mas lo veremos a continuacion.
                    </p>
                    <a href="">Leer más</a>
                </div>
            </div>
        </section>

        <section class="noticias">
            <div class="noticia">
                <div class="contenido">
                    <h2>¿Seguira Checo en Red Bull?</h2>

                    <img src="../images/imagen2.jpg" alt="redbull" height="500" width="550" />

                    <p>
                        Durante la temporada 2023 el Mexicano <b><u>Sergio (Checo) Pérez </u></b>demostro su talento al obtener el segundo lugar del
                        campeonato de pilotos solo por detras de su compañero de equipo <b><u>Max Verstappen </u></b>. pero se han esparcido los
                        rumores de ser reemplazado por <b><u>Yuki Tzunoda </u></b> quien tuvo un gran rendimiento en <b>Alpha Tauri</b>.
                    </p>
                    <a href="">Leer más</a>
                </div>
            </div>
        </section>
    </main>

    <footer>
        Derechos reservados &copy;2024
    </footer>
</body>
</html>